:root {
    --wine-red: #C7375F;
    --bright-red: #D42D2F;
    --dark-green: #344D2F;
    --light-green: #77A047;
    --gold: #FAC57D;
    --snow: #F0F4F7;
  }

    /* 
    themes
  */

  @mixin theme($background-body, $background-container, $font-color, $font-family){
        background-color: $background-body;
        color: $font-color;

        .container {
            background-color: $background-container;
            font-family: $font-family, cursive;
        }
  }
  
  html, body {
      margin: 0;
      padding: 0;
  }
  
  body,
  .container {
      display: flex;
      justify-content: center;
      align-items: center
  }
  
  body {
      height: 100vh;
  }
  
  .container {
      flex-direction: column;
      border-radius: 10px;
      padding: 3em;
      min-width: 350px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  }
  
  p {
      font-size: 45px;
  }
  
  .radio-container {
      width: 200px;
      font-size: 22px;
  }
  
  .christmas {
        @include theme(var(--wine-red), var(--snow), var(--dark-green), 'Mountains of Christmas')
  }
  
  .snow {
      @include theme(var(--snow), var(--dark-green), #F0F4F7, 'Lobster Two')
  }

  .toggle-container {
      display: flex;

  }
  .toggle {
      background-color: var(--gold);
      border-radius: 20px;
      width: 50px;
      height:20px;
      padding: 5px;
      margin: 0 10px;

    &-switch {
        background-color: var(--bright-red);
        width:20px;
        height:20px;
        border-radius: 20px;

        transform: translateX(0);
        transition: all 250ms;
    }

    .transform {
            transform: translateX(30px);
            background-color: var(--snow);
    }
  }